/* Your styles here */
footer a {
    color: black;
}
body {
  padding-top: 80px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  margin-top: 20px;
  margin-bottom: 0px;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.navbar-login
{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}
.navbar-login-text
{
  color: #000000;
}
.navbar-login-session
{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.icon-size
{
  font-size: 87px;
}
.forum{
	white-space: pre-line;
	display: block;
	unicode-bidi: embed;
}
pre.code {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	width:100%;
	overflow:auto;
}
.footer {
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f5f5f5;
}
.hidden {
  display:none;
  visibility:hidden;
}
legend {
  opacity: 0.6;
  font-size: 12px;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
