/* Your styles here */
footer a {
    color: black;
}
body {
  margin-top: 20px;
}
footer {
  margin-top: 4px;
}
.col-centered{
  float: none;
  margin: 0 auto;
}
.navbar-login
{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}
.navbar-login-session
{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.icon-size
{
  font-size: 87px;
}
.forum{
	white-space: pre-line;
	display: block;
	unicode-bidi: embed;
}
pre.code {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	width:100%;
	overflow:auto;
}
